<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaghory.mi491app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Dashboard"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ComposeActivity"
            android:label="@string/title_activity_compose" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConversationActivity"
            android:label="@string/title_activity_conversation"
            android:parentActivityName=".Dashboard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jaghory.mi491app.Dashboard" />
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/title_activity_registration" />
        <activity
            android:name=".ContactsListActivity"
            android:label="@string/title_activity_contacts_list"
            android:parentActivityName=".Dashboard" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:parentActivityName=".Dashboard"
            android:value="com.jaghory.mi491app.Dashboard" />

        <activity
            android:name=".AddContactActivity"
            android:label="@string/title_activity_add_contact"
            android:parentActivityName=".ContactsListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jaghory.mi491app.Dashboard" />
        </activity>
        <activity
            android:name=".SmartphoneConversationsActivity"
            android:label="@string/title_activity_smartphone_conversations"></activity>
    </application>

</manifest>
